<div data-role="header">
  <h1>Search result</h1>
</div>

<div data-role="content">
  Start lat: <%= session[:start_coords][:lat] %>
  Start lng: <%= session[:start_coords][:lng] %>
  Destination lat: <%= session[:end_coords][:lat] %>
  Destination lng: <%= session[:end_coords][:lng] %>
</div>
